.hidden {
  display: none;
}

.container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.title-text {
  margin: 0;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.btn {
  margin: auto;
  width: 50vw;
  height: 50vw;
  border: none;
  border-radius: 5%;
  text-align: center;
  box-shadow: 5px 5px 0 #ddd;
}

.btn--camera {
  background-color: #fff;
}
