.hidden {
  display: none;
}

.container {
  height: 100vh;
}

.btn {
  margin: auto;
  width: 50vw;
  height: 50vw;
  border: none;
  border-radius: 5%;
}

.btn--camera {
  background-color: #fff;
}
