.hidden {
  display: none;
}

.container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.title-text {
  margin: 0;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.image {
  width: 100vw;
  height: 100vh;
  filter:blur(5px);
}

.btn {
  margin: auto;
  width: 50vw;
  height: 50vw;
  border: none;
  border-radius: 5%;
  text-align: center;
  box-shadow: 0px 2px 10px #333;
}

.btn--camera {
  background-color: #fff;
}

.btn--camera:hover {
  background-color: #ddd;
}

.btn:hover {
  box-shadow: 0 4px 12px #333;
  -webkit-box-shadow: 0 4px 12px #333;
}

.btn:active {
  box-shadow: 0 2px 6px 0 #333;
  -webkit-box-shadow: 0 2px 6px 0 #333;
}
